
PC/.vs/Weather/config/applicationhost.config
PC/.vs/Weather/v16/.suo
PC/.vs/Weather/v16/Server/sqlite3/db.lock
PC/.vs/Weather/v16/Server/sqlite3/storage.ide
PC/.vs/Weather/v16/Server/sqlite3/storage.ide-shm
PC/.vs/Weather/v16/Server/sqlite3/storage.ide-wal
PC/bin/Debug/UnityEngine.AssetBundleModule.dll
PC/bin/Debug/UnityEngine.JSONSerializeModule.dll
PC/bin/Debug/Weather.dll
PC/bin/Debug/Weather.pdb
PC/bin/Release/UnityEngine.AssetBundleModule.dll
PC/bin/Release/UnityEngine.AudioModule.dll
PC/bin/Release/UnityEngine.JSONSerializeModule.dll
PC/bin/Release/Weather.dll
PC/bin/Release/Weather.pdb
PC/bin/Release/Weather_PC.zip
PC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PC/obj/Debug/Weather.csproj.CopyComplete
PC/obj/Debug/Weather.csproj.FileListAbsolute.txt
PC/obj/Debug/Weather.csprojAssemblyReference.cache
PC/obj/Debug/Weather.dll
PC/obj/Debug/Weather.pdb
PC/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
